# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and Test (Branch)

on:
  push:
    branches: [ '**' ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    # On branch push, only test on linux and python 3.10.
    strategy:
      matrix:
        python-version: ['3.10']
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v3
      with:
        # Need to clone everything to determine version from git.
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
        cache: "pip"
        cache-dependency-path: "setup.cfg"

    - name: Build and install
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install .[test,test_with_healpy]
    - name: Run flake8
      run: |
        flake8
    - name: Run tests
      run: |
        cd tests
        pytest
